@import url("https://fonts.googleapis.com/css2?family=Orelega+One&family=Roboto:wght@400;700&display=swap");
/*--------ОБНУЛЕНИЕ СТИЛЕЙ-----------*/
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}

li {
	list-style: none;
}

a,
a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}

img {
	vertical-align: top;
}

html,
body {
	height: 100%;
	overflow-x: hidden;
}

html {
	/* За замовчуванням*/
	font-size: 16px;
}

body {
	line-height: 1;
	color: #000000;
	font-size: 16px;
}

.wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	overflow: hidden;
}
.main {
	flex: 1 1 auto;
}
._ibg {
	position: relative;
}
._ibg img {
	object-fit: cover;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

[class*="__container"] {
	max-width: 1100px;
	margin: 0 auto;
	padding: 0 15px;
}

/* ----------------------------------------------------- */

.header {
	height: 100px;
	color: #fff;
	background-color: rgb(58, 58, 58);
	padding-top: 15px;
}
.header__container {
}
.header__inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.header__inner ul {
	display: flex;
}
.header__inner img {
	width: 75px;
	border: 1px solid #fff;
}
.name  {
	font-family: "Orelega One", cursive;
	font-size: 60px;
	color: #fff;
}
.main {
	background: url(../img/bg.jpg) 0 0 / cover no-repeat;
}
.main.content-mp {
	background-image: none;
	background-color: #ccc;
}
li {
	padding: 0 10px;
}
li a {
	color: #fff;
	font-family: "Roboto", sans-serif;
}
.active {
	font-weight: 700;
}
h2 {
	font-family: "Orelega One", cursive;
	font-size: 48px;
	text-align: center;
	padding: 20px 0;
}
article {
	background-color: #fff;
	border: 1px solid rgb(58, 58, 58);
	margin-bottom: 10px;
	padding: 30px 15px;
}
h3 {
	font-family: "Orelega One", cursive;
	font-size: 24px;
	margin: 0px 0px 20px 0px;
}

.sity__img {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0px 0px 30px 0px;
}
.people__img {
	text-align: center;
	border-radius: 50%;
}
.people__img img {
	border-radius: 50%;
	border: 3px solid rgb(58, 58, 58);
}
p {
	font-family: "Roboto", sans-serif;
	padding: 0px 0px 20px 0px;
	color: rgb(58, 58, 58);
}

.footer {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100px;
	color: #fff;
	background-color: rgb(58, 58, 58);
}
.footer a {
	color: #fff;
	font-weight: 700;
}
.footer span {
	font-family: "Roboto", sans-serif;
}
